<!-- <h1> ANGULAR 19</h1>
<h2>Function call on button click</h2>
<button (click)="handleclickevent()">Click me </button>
<app-signup></app-signup>
<app-register></app-register> -->







<!-- <h1>Counter App</h1>
<div>
    <h2>{{count}}</h2>
    <div>
        <button (click)="handleDecrement()">Decrement</button>
        <button (click)="handleReset()" >Reset</button>

        <button  (click)="handleIncrement()">Increment</button>

    </div>
</div> -->









<!-- <h1>Event in Angular</h1>
<button class="btn" name="login" (click)="handleEvent($event)">ClickEvent</button>
<br>
<br>

<div (mouseenter)="handleEvent($event)"  style="background-color: green; width: 100px; height: 100px  ;">


</div>



<div (mouseleave)="handleEvent($event)"  style="background-color:blue; width: 100px; height: 100px  ;">


</div>   

<input type="text"
(input)="handleEvent($event)"
(focus)="handleEvent($event)" 
(blur)="handleEvent($event)"
name="user"> -->



<!-- <h1> Get Set Value of input field</h1>
<h1>User Name is : {{displayName}}</h1>
<input  (input)="getName($event)" value="{{name}}" type="text" placeholder="Enter user name ">

<br>
<br> 

<button (click)="showName()">Get Name </button>

<button (click)="setName()">Set Name</button>

<hr>

<input type="text" placeholder="enter your email" #emailField>
<button>Get Mail</button>
<button> Set Mail</button> -->




<h1> Routing Demo</h1>

<ul>
   
         <li><a routerLink="/about"> About </a></li>

         <li><a routerLink="/products/4">Products</a></li>

         <li><a routerLink="/services">Service</a></li>
   
</ul>
<!-- <app-about></app-about>
<app-products></app-products>
<app-services></app-services> -->
<router-outlet></router-outlet> 

<footer> 
    <h1> Footer Components </h1>

</footer>