button {
    background-color: #28a745; /* Green color */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 25px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth color transition */
    margin-right: 10px; /* Gap between buttons */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }
  
  button:hover {
    background-color: #218838; /* Darker green on hover */
  }
  
  button:active {
    background-color: #1e7e34; /* Even darker green when clicked */
    box-shadow: none; /* Remove shadow on click */
  }
  
  
  .products{

       width: 100%;
       padding: 5%;
       background-color: lightgray;
       display: flex;
       flex-wrap: wrap;

  }

  .product{

   /* height: 200px; */
   width: 20%;
   background-color:white;
   padding: 20px;
   margin: 10px;

  }

  /* .circle{
    height: 20px;
    width: 10px;
    border-radius: 50%;
    background-color: gray;
  }
 
  .red{


    background-color: red;
  } */


  .form{
    width: 25%;
    padding: 20px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .inp{
    height: 30px;
    text-indent: 20px;


  }

  button{
    padding: 8px;
  }

  .error{
    color: red;
  }